@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Staatliches&display=swap');
// Fonts
$font_main: 'Raleway', sans-serif;
$font_heading: 'Staatliches', cursive;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #e8505b;
$secondary: rgb(189, 30, 89); 
$black: #000;
$white: #FFFFFF;
$gray: gray;

$separation: 5rem;